<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/app.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'img/icon.png')}}" type="image/x-icon">
    <title>PcSearcher</title>
</head>
<body onload="buscarIp()">
    <script>
        function buscarIp(){
            document.getElementById("archivo").value = document.getElementById("des").value
        }
    </script>
    <div class="allContent">
        <div class="container">
            <h1>PcSearcher</h1>
            <div class="recorredor">
                <form action="/" method="post">
                    <label for="ip">Ingrese fragmento de ip a recorrer</label>
                    <input type="text" name="ip"><br/>
                    <input name = "recorrer" type="submit" value="Recorrer" />
                </form>
            </div>
            <div class="recorrido">
                <form action="/" method="post">
                    <select onclick="buscarIp()" name="des" id="des">
                        {% for x in opcion%}
                        <option value={{x}}>{{x}}</option>
                        {% endfor %}
                    </select>
                    <input name="historicoRecorrido" type="submit" value="Ver recorrido">
                </form>
            </div>
            <div>
                <form class="evidenS" action="/" method="post">
                    <label for="evidencia">Ingrese la ip que desea sacar la evidencia</label>
                    <input type="text" name="evidencia"><br/>
                    <div>
                        <select name="TiEq" id="TiEq">
                            <option value="portatil">Portatil</option>
                            <option value="escritorio">Escritorio</option>
                        </select>
                        <input name = "botonEvidencia" type="submit" value="Generar" />
                    </div>
                </form>
            </div>
            <div>
                <form class="buscarEqui" action="/" method="post">
                    <label for="nombreEqui">Ingrese equipo a buscar</label>
                    <input type="text" name="nombreEqui"><br/>
                    <input name = "botonEqui" type="submit" value="Buscar" />
                </form>
            </div>
            <div>
                <form class="convertir" class="Convert" action="/" method="post">
                    <label for="archivo">Exportar a CSV</label>
                    <input type="hidden" name="archivo" id="archivo" value="">
                    <input name = "botonCon" type="submit" value="Convertir" />
                </form>
            </div>
        </div>
        <div class="info">
            <h2>IP y HOSTNAME</h2>
            <div class = "columnas">
                {% for x in names%}
                <p class="tabla">{{x}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <footer class="footer">
        <a href="http://github.com/sebasnunez/PcSearcher-on-Python">PcSearcher Github</a>
        <div style="display: grid; align-items: center; justify-items: right; grid-template-columns: 80% 20%; grid-gap: 5px;">
            <label>Made by Sebastian Nuñez</label><a href="http://github.com/sebasnunez"><img src="{{url_for('static', filename = 'img/github.png')}}"></a>
        </div>
    </footer>
    {% if ip%}
    <input type="hidden" id="ip" value="{{ip}}">
    <script>
        ip = document.getElementById("ip").value
        alert("El equipo "+ip+" no se encuentra en la red")
    </script>
    {% endif %}
    {% if mensaje%}
    <input type="hidden" id="mensajeE" value="{{mensaje}}">
    <script>
        mensaje = document.getElementById("mensajeE").value
        alert(mensaje)
    </script>
    {% endif %}
    {% if nameEqui%}
    <input type="hidden" id="nameEqui" value="{{nameEqui}}" >
    <script>
        nameEqui = document.getElementById("nameEqui").value
        alert(nameEqui)
    </script>
    {% endif %}
    {% if archivo and contenido%}
    <input type="hidden" id="archi" value="{{archivo}}" >
    <input type="hidden" id="contenido" value="{{contenido}}" >
    <script>
        archi = document.getElementById("archi").value
        contenido = document.getElementById("contenido").value
        nombre = archi+".csv"
        const a = document.createElement("a");
        const archivo = new Blob([contenido], { type: 'text/plain' });
        const url = URL.createObjectURL(archivo);
        a.href = url;
        a.download = nombre;
        a.click();
        URL.revokeObjectURL(url);
    </script>
    {% endif %}
</body>
</html>